__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.venv/
venv/
.cache/
.mypy_cache/
.pytest_cache/
dist/
build/
.streamlit/secrets.toml
.git/
.gitignore
garbage/
src/pvapp/pages/deprecated
.streamlit/secrets.toml
coverage.xml