.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# virtualenv
.venv/
.env/

# poetry specific files
poetry.lock


# temporary files
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# Notebook output
.ipynb_checkpoints/

# Config locali IDE
.vscode/
.idea/


data/
output/
results/

# Pytest
/tests
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# secret files
.env
*.key
*.pem

# File Jupyter o similars
*.ipynb